<footer class="site-footer">
  
  <div class="site-footer__info">
    <div class="container">
      <p class="site-footer__tagline">
        Del 12 al 15 de junio &bull; Palacio Consistorial, Almeria &bull;
        <a class="site-footer__contact-link" href="mailto:info@jornadasartesania.es"
          >info@jornadasartesania.es</a
        >
      </p>
    </div>
  </div>

  
  <div class="site-footer__bar">
    <div class="container site-footer__bar-inner">
      
      <a class="site-footer__brand" href="./index.html">
        <img
          src="./assets/images/logo.png"
          alt="Jornadas de Artesania 2026"
          class="site-footer__logo"
          height="36"
        />
      </a>

      
      <nav class="site-footer__nav" aria-label="Navegacion pie de pagina">
        <a class="site-footer__nav-link" href="./index.html">Inicio</a>
        <a class="site-footer__nav-link" href="./ponentes.html">Ponentes</a>
        <a class="site-footer__nav-link" href="./articulo.html">Sobre las jornadas</a>
        <a class="site-footer__nav-link" href="./libre.html">Programa</a>
      </nav>

      
      <div class="site-footer__social">
        <a class="site-footer__social-link" href="#" aria-label="Instagram">
          <i class="fa-brands fa-instagram" aria-hidden="true"></i>
        </a>
        <a class="site-footer__social-link" href="#" aria-label="Facebook">
          <i class="fa-brands fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="site-footer__social-link" href="#" aria-label="Twitter / X">
          <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
        </a>
        <a class="site-footer__social-link" href="#" aria-label="YouTube">
          <i class="fa-brands fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>