<header class="site-header">
  <nav class="navbar navbar-expand-lg" aria-label="Navegación principal">
    <div class="container">
      <a class="navbar-brand site-header__brand" href="./index.html">
        <img
          src="./assets/images/logo.png"
          alt="Jornadas de Artesanía 2026"
          class="site-header__logo"
          height="96"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Abrir menú"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto gap-1">
          <li class="nav-item">
            <a class="nav-link site-header__nav-link" href="./index.html">
              <i class="fa-solid fa-house" aria-hidden="true"></i> Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link site-header__nav-link" href="./ponentes.html">
              <i class="fa-solid fa-users" aria-hidden="true"></i> Ponentes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link site-header__nav-link" href="./articulo.html">
              <i class="fa-solid fa-newspaper" aria-hidden="true"></i> Sobre las
              jornadas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link site-header__nav-link" href="./libre.html">
              <i class="fa-solid fa-calendar-days" aria-hidden="true"></i>
              Programa
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
